<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gastos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gastos.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <Gastos.Properties.Settings>
            <setting name="Categorias" serializeAs="String">
                <value>
                    &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
                        &lt;string&gt;Almacen&lt;/string&gt;
			            &lt;string&gt;Almuerzo&lt;/string&gt;
                        &lt;string&gt;Apple Tv&lt;/string&gt;
                        &lt;string&gt;Carnicería&lt;/string&gt;
                        &lt;string&gt;Claro&lt;/string&gt;
                        &lt;string&gt;Consolidación&lt;/string&gt;
                        &lt;string&gt;Delivery&lt;/string&gt;
                        &lt;string&gt;Disney+&lt;/string&gt;
                        &lt;string&gt;Edesur&lt;/string&gt;
                        &lt;string&gt;Expensas&lt;/string&gt;
                        &lt;string&gt;Farmacia&lt;/string&gt;
                        &lt;string&gt;Fiambrería&lt;/string&gt;
			            &lt;string&gt;Flow&lt;/string&gt;
                        &lt;string&gt;Gatas&lt;/string&gt;
                        &lt;string&gt;Impuesto Municipal&lt;/string&gt;
                        &lt;string&gt;Luna&lt;/string&gt;
                        &lt;string&gt;Mercadolibre&lt;/string&gt;
                        &lt;string&gt;Metrogas&lt;/string&gt;
                        &lt;string&gt;Netflix&lt;/string&gt;
                        &lt;string&gt;Otros&lt;/string&gt;
                        &lt;string&gt;Pescadería&lt;/string&gt;
                        &lt;string&gt;Prime Video&lt;/string&gt;
                        &lt;string&gt;Salida&lt;/string&gt;
                        &lt;string&gt;Seguro Hogar&lt;/string&gt;
                        &lt;string&gt;Spotify&lt;/string&gt;
                        &lt;string&gt;Supermercado&lt;/string&gt;
                        &lt;string&gt;Verdulería&lt;/string&gt;
                    &lt;/ArrayOfString&gt;
                </value>
            </setting>
        </Gastos.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Gastos.Properties.Settings>
            <setting name="Carpeta" serializeAs="String">
                <value>G:\My Drive</value>
            </setting>
            <setting name="Archivo" serializeAs="String">
                <value>Gastos.xlsm</value>
            </setting>
        </Gastos.Properties.Settings>
    </userSettings>
</configuration>
